.card {
  width: 18rem;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main img {
  aspect-ratio: 3/2;
  object-fit: contain;
  border-bottom: 1px solid rgb(223, 221, 221);
}

.cart {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.cart:hover {
  background-color: rgb(64, 82, 159);
}

.cart:hover .cart-tooltip {
  visibility: visible;
  opacity: 1;
}

.cart-items-counter {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0px;
  right: -5px;
}

.addBtn {
  width: 40px;
}

.addBtn-cart {
  width: 20px;
}

.cart-tooltip {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 37.5px;
  overflow: auto;
  width: 250px;
  max-height: 400px;
  background-color: gray;
  z-index: 999999;
  transition: 0.5s;
}

.cart-tooltip::-webkit-scrollbar {
  display: none;
}

.item img {
  width: 50px;
  height: 50px;
}

.item .item-title {
  font-size: 0.75rem;
  width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item .item-price {
  font-size: 0.7rem;
}
